<h1>Users</h1>

<div class="card-columns" style="font-size: 0.8em; text-align: center">
  <% @users.each do |user| %>
    <div class="card">
      <div style="margin-top: 20px">
      <%= image_tag user.thumbnail_url || 'http://placehold.it/128?text=?' %>
      </div>
      <div class="card-block">
        <div class="card-title"><%= user.name %></div>
        <div style="word-break: break-word">
          <%= user.email %>
        </div>
      </div>
      <div class="card-footer">
        <% if friendship = current_user.find_friendship_with(user) %>
          Added by you <%= time_ago_in_words friendship.created_at %> ago.
          <%= link_to "Remove", friendship, method: 'delete', class: 'btn btn-danger btn-sm' %>
        <% else %>
          <%= link_to "Add Friend", friendships_path(friend_id: user.id), method: 'post', class: 'btn btn-primary' %>
        <% end %>
      </div>
      <% if friendship = user.find_friendship_with(current_user) %>
        <div class="card-footer">
          Added you <%= time_ago_in_words friendship.created_at %> ago.
        </div>
      <% end %>
    </div>
  <% end %>
</div>
